@use "_variables"as *;

.experienceContainer {
    padding-bottom: 30px;
    padding-left: 20px;
    border-left: 1.5px solid $dark-grey;
    break-inside: avoid; // Prevent splitting across pages

    .companyName {
        text-transform: none;
        margin: 0;
        margin-bottom: 10px;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: $dark-grey;
            position: relative;
            display: block;
            left: -26px;
            top: 17px;
            border-radius: 50%;
            z-index: 10;
        }
    }

    .experienceSubTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        .jobTitle {
            max-width: 60%;
            margin: 0;
            margin-right: 10px;
        }

        .date {
            margin: 0;
            min-width: 40%;
            text-align: right;
        }
    }

    .technology-wrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .technology-chip{
            margin: 0 2.5px;
            padding: 3px 8px;
            background-color: $light-grey;
            color: $dark-grey;
            border-radius: 5px;
            font-size: 12px;
        }
    }
}