.certificateContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 5px;

    .certificateName {
        margin: 0;
    }

    .certificateDate {
        margin: 0;
        margin-left: 10px;
    }
}