<div class="topnav">
  <button id="download" class="topnav-btn" (click)="printPage()">
    Download
  </button>
  <div class="vertical-spacer"></div>
  <button id="language" class="topnav-btn" (click)="changeLanguage()">
    {{ getChangeLanguageLabelText() }}
  </button>
</div>
<div class="resumePage">
  <div class="resumeSide">
    <!-- --- Personal Data --- -->
    <div class="personalData">
      <h1 class="name">{{ resumeData.personalData.name }}</h1>
      <h3 class="jobTitle">{{ resumeData.personalData.jobTitle }}</h3>
      <img
        src="assets/Klinkenberg_Lars.jpg"
        alt="Profil Bild"
        class="profile"
      />
    </div>

    <div class="socials">
      <div class="social-info" id="github">
        <img class="social-logo" src="assets/github-mark.png" alt="GitHub" />
        <a
          href="https://github.com/Lars-Klinkenberg"
          class="link"
          target="_blank"
        >
          www.github.com/Lars-Klinkenberg
        </a>
      </div>
      <div class="social-info" id="linkedIn">
        <img
          class="social-logo"
          src="assets/linkedin_logo.png"
          alt="LinkedIn"
        />
        <a
          href="https://www.linkedin.com/in/lars-klinkenberg-62a044167"
          class="link"
          target="_blank"
        >
          www.linkedin.com<wbr />/in/lars-klinkenberg-62a044167
        </a>
      </div>
      <div class="social-info" id="mail">
        <img class="social-logo" src="assets/email.png" alt="email" />
        <a href="mailto:klinkenberg.lars@gmail.com" class="link">
          klinkenberg.lars<wbr />&#64;gmail.com
        </a>
      </div>
      <div class="social-info" id="website">
        <img class="social-logo" src="assets/website-icon.png" alt="website" />
        <a href="https://klinkenberg.dev" class="link" target="_blank">
          klinkenberg.dev
        </a>
      </div>
    </div>

    <!-- --- End Personal Data -->
    <!-- --- Skills --- -->
    <div class="skillsContainer">
      <div class="resumeHeader">
        <hr />
        <h1>
          {{ getSideHeaderLabelText(sideHeader.languages) }}
        </h1>
        <hr />
      </div>
      <resume-skill-index
        *ngFor="let skill of resumeData.languages"
        [skillName]="skill.name"
        [scaleIndex]="skill.index"
        [scaleMax]="skill.maxIndex"
      ></resume-skill-index>

      <div class="resumeHeader">
        <hr />
        <h1>
          {{ getSideHeaderLabelText(sideHeader.knowledges) }}
        </h1>
        <hr />
      </div>

      <div *ngFor="let skillType of getSkillTypes()" class="skillContainer">
        <h3>
          {{ getSkillTypeLabelText(skillType) }}
        </h3>

        <div class="skillsOfType">
          <resume-skill-index
            *ngFor="let skill of getSkillByType(skillType)"
            [skillName]="skill.name"
            [scaleIndex]="skill.index"
            [scaleMax]="skill.maxIndex"
          ></resume-skill-index>
        </div>
      </div>
    </div>
    <!-- --- End Skills --- -->
    <div class="spacer-25"></div>
    <!-- --- Hobbies --- -->
    <div class="resumeHeader">
      <hr />
      <h1>
        {{ getSideHeaderLabelText(sideHeader.hobbys) }}
      </h1>
      <hr />
    </div>
    <div class="skillsOfType">
      <resume-skill-index
        *ngFor="let hobby of resumeData.hobbies"
        [skillName]="hobby"
        [scaleIndex]="0"
        [scaleMax]="0"
      ></resume-skill-index>
    </div>
    <!-- --- End Hobbies -->
  </div>
  <div class="resumeMain">
    <!-- --- Experiences --- -->
    <div *ngFor="let exp of experienceTypes | keyvalue">
      <div *ngIf="getExperiencesByType(exp.key).length > 0">
        <div class="resumeHeader">
          <hr />
          <h1>{{ getExperienceLabelText(exp.key) }}</h1>
          <hr />
        </div>
        <div class="allExperiences">
          <resume-experience
            *ngFor="let experience of getExperiencesByType(exp.key)"
            [experienceData]="experience"
          >
          </resume-experience>
        </div>

        <div class="spacer-25"></div>
      </div>
    </div>
    <!-- --- End Experiences --- -->

    <!-- --- Certifications --- -->
    <div class="resumeHeader">
      <hr />
      <h1>
        {{ getSideHeaderLabelText(sideHeader.certificates) }}
      </h1>
      <hr />
    </div>
    <resume-certificate
      *ngFor="let certificate of resumeData.certifications"
      [name]="certificate.name"
      [date]="certificate.date"
    ></resume-certificate>
    <!-- End Certifications -->
  </div>
</div>
