@use "_variables"as *;

.topnav {
    background-color: $resume-background-color;
    width: 100%;
    height: 50px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 100;


    .vertical-spacer {
        height: 40%;
        margin: auto 10px;
        border-right: 2px solid black;
    }

    .topnav-btn {
        border: 0;
        background: none;
        padding: 5px;
        font-size: 16px;
        font-weight: bolder;
        cursor: pointer;
    }
}

.resumePage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;

    .resumeSide {
        max-width: min(100%, 350px);
        // TODO : define max and min width
        // min = 350px eg
        // max = 30%
        margin: 10px;


        .personalData {
            text-align: center;

            .name {
                font-weight: 700;
                font-size: 25px;
                text-transform: none;
                margin: 0;
            }

            .jobTitle {
                font-weight: 600;
                font-size: 20px;
                text-transform: none;
                margin: 0;
                margin-top: 10px;
            }

            .profile {
                width: 200px;
                width: 200px;
                margin: 20px 0;
                border-radius: 50%;
            }
        }

        .socials {
            margin-top: 20px;

            .social-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                text-align: right;
                margin: 5px;

                .social-logo {
                    height: 30px;
                }

                .link {
                    margin-left: 20px;

                }
            }
        }

        .skillsContainer {
            word-wrap: break-word;

            .skillContainer {
                break-inside: avoid; // Prevent splitting across pages
            }

            .resumeHeader {
                margin: 40px 0 20px 0;
            }

            .skillsOfType {
                margin: 0 0 40px 0;
            }
        }
    }

    .resumeMain {
        flex-grow: 100;
        max-width: min(100%, 800px);
        // TODO : define max and min width
        // min = 500px eg
        // max = 30%
        margin: 10px;

        .allExperiences {
            & :first-child {
                &::before {
                    display: block;
                    content: "";
                    width: 20px;
                    height: 30px;
                    background-color: $resume-background-color;
                    position: relative;
                    left: -10px;
                    top: 20px;
                    z-index: 1;
                }
            }
        }
    }
}

@media print {
    .topnav {
        display: none;
    }

    .resumePage {
        margin-top: 0;

        .resumeSide {
            max-width: 30%;

            .personalData {
                .name {
                    font-size: 18px;
                }

                .jobTitle {
                    font-size: 14px;
                }
            }
        }

        .resumeMain {
            max-width: 60%;
        }
    }
}