@use "_variables"as *;

.resumePage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;

    .resumeSide {
        max-width: min(100%, 350px);
        margin: 10px;


        .personalData {
            text-align: center;

            .name {
                font-weight: 700;
                font-size: 25px;
                letter-spacing: 5px;
                text-transform: none;
                margin: 0;
            }

            .jobTitle {
                font-weight: 600;
                font-size: 20px;
                text-transform: none;
                margin: 0;
                margin-top: 10px;
            }

            .profile {
                width: 200px;
                width: 200px;
                margin: 30px 0 50px 0;
                border-radius: 50%;
            }
        }

        .skillContainer {
            word-wrap: break-word;

            .resumeHeader {
                margin: 40px 0 20px 0;
            }

            .skillsOfType {
                margin: 0 0 40px 0;
            }
        }
    }

    .resumeMain {
        flex-grow: 100;
        min-width: min(100%, 500px);
        max-width: calc(90% - 500px);
        margin: 10px;

        .allExperiences {
            & :first-child {
                &::before {
                    display: block;
                    content: "";
                    width: 20px;
                    height: 30px;
                    background-color: $resume-background-color;
                    position: relative;
                    left: -10px;
                    top: 20px;
                    z-index: 1;
                }
            }
        }
    }
}