<div class="resumePage">
  <div class="resumeSide">
    <!-- --- Personal Data --- -->
    <div class="personalData">
      <h1 class="name">{{ resumeData.personalData.name }}</h1>
      <h3 class="jobTitle">{{ resumeData.personalData.jobTitle }}</h3>
      <img
        src="../../assets/Klinkenberg_Lars.jpg"
        alt="Profil Bild"
        class="profile"
      />
    </div>
    <!-- --- End Personal Data -->
    <!-- --- Skills --- -->
    <div class="skillContainer">
      <div class="resumeHeader">
        <hr />
        <h1>languages</h1>
        <hr />
      </div>
      <resume-skill-index
        *ngFor="let skill of resumeData.languages"
        [skillName]="skill.name"
        [scaleIndex]="skill.index"
        [scaleMax]="skill.maxIndex"
      ></resume-skill-index>

      <div class="resumeHeader">
        <hr />
        <h1>knowledges</h1>
        <hr />
      </div>

      <div *ngFor="let skillType of getSkillTypes()">
        <h3>
          {{ skillType }}
        </h3>

        <div class="skillsOfType">
          <resume-skill-index
            *ngFor="let skill of getSkillByType(skillType)"
            [skillName]="skill.name"
            [scaleIndex]="skill.index"
            [scaleMax]="skill.maxIndex"
          ></resume-skill-index>
        </div>
      </div>
    </div>
    <!-- --- End Skills --- -->
    <div class="spacer-25"></div>
    <!-- --- Hobbies --- -->
    <div class="resumeHeader">
      <hr />
      <h1>Hobbys</h1>
      <hr />
    </div>
    <div class="skillsOfType">
      <resume-skill-index
        *ngFor="let hobby of resumeData.hobbies"
        [skillName]="hobby"
        [scaleIndex]="0"
        [scaleMax]="0"
      ></resume-skill-index>
    </div>
    <!-- --- End Hobbies -->
  </div>
  <div class="resumeMain">
    <!-- --- Experiences --- -->
    <div class="resumeHeader">
      <hr />
      <h1>Work experience</h1>
      <hr />
    </div>
    <div class="allExperiences">
      <resume-experience
        *ngFor="let experience of getExperiencesByType('Berufserfahrung')"
        [jobTitle]="experience.jobTitle"
        [company]="experience.company"
        [startDate]="experience.startDate"
        [endDate]="experience.endDate"
        [descriptions]="experience.descriptions"
      >
      </resume-experience>
    </div>

    <div class="spacer-25"></div>

    <div class="resumeHeader">
      <hr />
      <h1>education</h1>
      <hr />
    </div>
    <div class="allExperiences">
      <resume-experience
        *ngFor="let experience of getExperiencesByType('Bildungsweg')"
        [jobTitle]="experience.jobTitle"
        [company]="experience.company"
        [startDate]="experience.startDate"
        [endDate]="experience.endDate"
        [descriptions]="experience.descriptions"
      >
      </resume-experience>
    </div>
    <!-- --- End Experiences --- -->
    <div class="spacer-25"></div>
    <!-- --- Certifications --- -->
    <div class="resumeHeader">
      <hr />
      <h1>certificates</h1>
      <hr />
    </div>
    <resume-certificate
      *ngFor="let certificate of resumeData.certifications"
      [name]="certificate.name"
      [date]="certificate.date"
    ></resume-certificate>
    <!-- End Certifications -->
  </div>
</div>
