@use "./_variables"as *;

@mixin text-headline-large {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $resume-main-headline-color;
}

@mixin text-headline-medium {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: $resume-main-headline-color;
}

@mixin text-headline-small {
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $resume-sec-headline-color;
}

@mixin text {
    font-size: 14px;
    color: $dark-grey;
}

@mixin button-primary {
    background-color: $home-accent;
    color: $home-primary;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: darken($home-accent, 5%);
    }
}