// resume colors
$light-grey: #d9d9d9;
$dark-grey: #404040;
$resume-background-color: #fff;

$resume-main-headline-color: $dark-grey;
$resume-sec-headline-color: #accabd;

$mobile-width: 800px;

// home colors
$home-background-color: #232e33;
$home-primary: #fff;
$home-secondary: #c0c0c0;
$home-accent: #1fa396;
$home-background-color-light: #20292e;

// light mode
// $home-background-color: #f3f3f3;
// $home-primary: #20292e;
// $home-secondary: #6d6d6d;
// $home-accent: #1fa396;
// $home-background-color-light: #8fb4b1;


// TO-DO
// https://medium.com/@sroskelley/theming-in-sass-67b8c0265e3f